.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: white;
}

.header__left {
  margin-left: 0.5rem;
}

.header__logo {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}

.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid lightgray;
}

.header__inputButton {
  width: 50px !important;
  color: gray;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
}

.header__icon {
  margin-right: 8px;
}
.header__icons {
  display: flex;
  align-items: center;
}

.header__input > input {
  flex: 1;
  border: none;
}

.header .MuiSvgIcon-root {
  font-size: 1.75rem !important;
}

.header .MuiAvatar-root {
  width: 28px !important;
  height: 28px !important;
}
